[Unit]
Description=ntfy-alertmanager service
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=ntfy-alertmanager
Group=ntfy-alertmanager
Restart=always
Environment=CONFIG_FILE=/etc/ntfy-alertmanager/config
ExecStart=/usr/bin/ntfy-alertmanager --config "$CONFIG_FILE"

[Install]
WantedBy=multi-user.target
